## Example Use of David's Finance Module, dfinance
#### See it in action!
This notebook shows an example that implements my custom finance package to backtest an (ineffective) algorithmic trading strategy.

In [1]:
import pandas as pd
import yfinance as yf
import numpy as np

import dfinance as dfin
from dfinance.trading_strategies import SMA_Crossover

%load_ext autoreload
%autoreload 2

In [2]:
# Initialize backtest object
# Initialize portfolio object
my_back = dfin.Backtest()
my_port = dfin.Portfolio()

In [3]:
# Get cash value - can also set this
my_port.cashvalue

100000.0

In [4]:
# # load data from Alpha Vantage csv file
# historical_df = pd.read_csv('gme_minute_data.csv', index_col='time')
# historical_df.index = pd.to_datetime(historical_df.index)
# historical_df.index.name = 'datetime'
# historical_df = historical_df.sort_values(by=['datetime'])

# load data from Yahoo!
data = yf.download(tickers='AAPL', period='90d', progress=False)
data.drop(columns=['Adj Close'])
data.to_csv('aapl_daily_data.csv')
historical_df = pd.read_csv('aapl_daily_data.csv', index_col='Date')

In [5]:
# Process the data from the historical dataframe
my_back.process_historical_data(historical_df,
                                my_port,
                                SMA_Crossover.strategy,
                                sma_short=10,
                                sma_long=15,
                                share_num=10,
                                ticker='AAPL')

2021-10-04 | Short: 142.39 | Long: 143.43 | Short < Long
2021-10-05 | Short: 142.05 | Long: 142.92 | Short < Long
2021-10-06 | Short: 141.51 | Long: 142.39 | Short < Long
2021-10-07 | Short: 141.22 | Long: 142.09 | Short < Long
2021-10-08 | Short: 140.92 | Long: 141.88 | Short < Long
2021-10-11 | Short: 140.72 | Long: 141.91 | Short < Long
2021-10-12 | Short: 140.65 | Long: 141.80 | Short < Long
2021-10-13 | Short: 140.37 | Long: 141.50 | Short < Long
2021-10-14 | Short: 140.39 | Long: 141.22 | Short < Long
2021-10-15 | Short: 140.83 | Long: 141.09 | Short < Long
2021-10-18 | Short: 141.32 | Long: 141.04 | Short > Long

Buying 10 shares of AAPL for 1431.6000366210938

2021-10-19 | Short: 142.04 | Long: 141.37 | Short > Long
2021-10-20 | Short: 143.02 | Long: 141.77 | Short > Long
2021-10-21 | Short: 143.53 | Long: 142.21 | Short > Long
2021-10-22 | Short: 144.14 | Long: 142.85 | Short > Long
2021-10-25 | Short: 144.72 | Long: 143.47 | Short > Long
2021-10-26 | Short: 145.52 | Long: 144.11 | Short > Long
2021-10-27 | Short: 146.45 | Long: 144.79 | Short > Long
2021-10-28 | Short: 147.27 | Long: 145.25 | Short > Long
2021-10-29 | Short: 147.56 | Long: 145.51 | Short > Long
2021-11-01 | Short: 148.02 | Long: 145.91 | Short > Long
2021-11-02 | Short: 148.23 | Long: 146.42 | Short > Long
2021-11-03 | Short: 148.40 | Long: 147.13 | Short > Long
2021-11-04 | Short: 148.68 | Long: 147.73 | Short > Long
2021-11-05 | Short: 148.82 | Long: 148.17 | Short > Long
2021-11-08 | Short: 149.08 | Long: 148.64 | Short > Long
2021-11-09 | Short: 149.18 | Long: 148.87 | Short > Long
2021-11-10 | Short: 149.12 | Long: 148.85 | Short > Long
2021-11-11 | Short: 148.91 | Long: 148.84 | Short > Long
2021-11-12 | Short: 149.02 | Long: 148.76 | Short > Long
2021-11-15 | Short: 149.18 | Long: 148.88 | Short > Long
2021-11-16 | Short: 149.25 | Long: 148.91 | Short > Long
2021-11-17 | Short: 149.37 | Long: 149.07 | Short > Long
2021-11-18 | Short: 149.61 | Long: 149.29 | Short > Long
2021-11-19 | Short: 150.26 | Long: 149.97 | Short > Long
2021-11-22 | Short: 151.34 | Long: 150.85 | Short > Long
2021-11-23 | Short: 152.24 | Long: 151.54 | Short > Long
2021-11-24 | Short: 153.42 | Long: 152.20 | Short > Long
2021-11-26 | Short: 154.29 | Long: 152.58 | Short > Long
2021-11-29 | Short: 155.42 | Long: 153.16 | Short > Long
2021-11-30 | Short: 156.47 | Long: 153.81 | Short > Long
2021-12-01 | Short: 157.99 | Long: 154.78 | Short > Long
2021-12-02 | Short: 158.67 | Long: 155.44 | Short > Long
2021-12-03 | Short: 159.33 | Long: 156.24 | Short > Long
2021-12-06 | Short: 160.11 | Long: 157.36 | Short > Long
2021-12-07 | Short: 160.84 | Long: 158.62 | Short > Long
2021-12-08 | Short: 162.01 | Long: 160.05 | Short > Long
2021-12-09 | Short: 163.44 | Long: 161.58 | Short > Long
2021-12-10 | Short: 165.27 | Long: 163.02 | Short > Long
2021-12-13 | Short: 166.94 | Long: 164.29 | Short > Long
2021-12-14 | Short: 168.17 | Long: 165.03 | Short > Long
2021-12-15 | Short: 168.95 | Long: 165.92 | Short > Long
2021-12-16 | Short: 170.24 | Long: 166.66 | Short > Long
2021-12-17 | Short: 171.24 | Long: 167.55 | Short > Long
2021-12-20 | Short: 171.56 | Long: 168.12 | Short > Long
2021-12-21 | Short: 171.64 | Long: 168.74 | Short > Long
2021-12-22 | Short: 171.78 | Long: 169.24 | Short > Long
2021-12-23 | Short: 171.92 | Long: 170.41 | Short > Long
2021-12-27 | Short: 172.16 | Long: 171.57 | Short > Long
2021-12-28 | Short: 172.46 | Long: 172.52 | Short < Long

Selling 10 shares of AAPL for 1785.2999877929688

2021-12-29 | Short: 173.05 | Long: 173.17 | Short < Long
2021-12-30 | Short: 173.63 | Long: 173.66 | Short < Long
2021-12-31 | Short: 174.28 | Long: 173.88 | Short > Long

Buying 10 shares of AAPL for 1772.5999450683594

2022-01-03 | Short: 175.08 | Long: 174.09 | Short > Long
2022-01-04 | Short: 176.25 | Long: 174.33 | Short > Long
2022-01-05 | Short: 176.80 | Long: 174.49 | Short > Long
2022-01-06 | Short: 176.75 | Long: 174.44 | Short > Long
2022-01-07 | Short: 176.32 | Long: 174.46 | Short > Long
2022-01-10 | Short: 175.43 | Long: 174.36 | Short > Long
2022-01-11 | Short: 174.66 | Long: 174.58 | Short > Long
2022-01-12 | Short: 174.33 | Long: 174.96 | Short < Long

Selling 10 shares of AAPL for 1748.2000732421875

2022-01-13 | Short: 173.70 | Long: 174.94 | Short < Long
2022-01-14 | Short: 173.08 | Long: 174.66 | Short < Long
2022-01-18 | Short: 172.25 | Long: 174.15 | Short < Long
2022-01-19 | Short: 170.94 | Long: 173.31 | Short < Long
2022-01-20 | Short: 169.89 | Long: 172.38 | Short < Long

In [6]:
my_port.cashvalue

100329.3000793457

In [7]:
my_port.ledger()

  Ticker  Shares  Share Price  Dollar Amount Buy/Sell Transaction Datetime
0   AAPL      10   143.160004    1431.600037      buy           2021-10-18
1   AAPL     -10   178.529999   -1785.299988     sell           2021-12-28
2   AAPL      10   177.259995    1772.599945      buy           2021-12-31
3   AAPL     -10   174.820007   -1748.200073     sell           2022-01-12

In [8]:
my_port.summary_of_transactions()

Empty DataFrame
Columns: [Ticker, Shares Held, Current Price, Current Value of Shares]
Index: []

In [9]:
# Buy one share of GME for $100 - what a great price!
my_port.buy_stock('GME', 3, 100, '2021-01-01 00:00:00')

In [10]:
my_port.save_transactions('my_port.csv')

In [11]:
my_port.load_transactions('my_port.csv')
my_port.summary_of_transactions()

   Ticker  Shares Held Current Price  Current Value of Shares
1     GME            3    102.669998               308.009995
2  Totals            3           N/A               308.009995