## Example Use of David's Finance Module, dfinance
#### See it in action!
This notebook shows an example that implements my custom finance package to backtest an (ineffective) algorithmic trading strategy.

In [1]:
import pandas as pd
import yfinance as yf
import numpy as np
import pickle

import dfinance as dfin
from dfinance.trading_strategies import SMA_Crossover
from dfinance.trading_strategies import PaperBracketOrder
from dfinance.trading_strategies import BTBracketOrder
from dfinance.trading_strategies import BT_EMA_Crossover
from dfinance.trading_strategies import RH_EMA_Crossover

import talib
from talib.abstract import *

from robin_stocks import *
import robin_stocks.robinhood as r
import pyotp

import os
from dotenv import load_dotenv
load_dotenv()

%load_ext autoreload
%autoreload 2

### Backtest a strategy that buys based on model predictions

In [3]:
my_port = dfin.Portfolio()
my_back = dfin.Backtest()

In [135]:
# Get cash value - can also set this
my_port.cashvalue = 100

In [136]:
# load data from Yahoo!
days_of_data = 110

data = yf.download(tickers='HOG', period=f'{days_of_data}d', progress=False)
data = data.head(days_of_data - 10)

In [137]:
my_back.process_historical_data(df=data,
                                my_port=my_port,
                                my_strategy=BTBracketOrder.strategy,
                                ticker='HOG',
                                share_cnt=1,
                                profit_pct=1.03,
                                stop_pct=0.98,
                                limit_pct=0.97,
                                pkl_filename='lgbm_model.pkl')

Buying 1 shares of HOG for 36.88999938964844
Selling 1 shares of HOG for 36.70000076293945
Buying 1 shares of HOG for 37.08000183105469
Selling 1 shares of HOG for 37.08000183105469
Buying 1 shares of HOG for 37.38999938964844
Selling 1 shares of HOG for 37.70000076293945
Buying 1 shares of HOG for 36.560001373291016
Selling 1 shares of HOG for 36.220001220703125
Buying 1 shares of HOG for 36.66999816894531
Selling 1 shares of HOG for 36.5099983215332
Buying 1 shares of HOG for 35.310001373291016
Selling 1 shares of HOG for 36.29999923706055
Buying 1 shares of HOG for 36.29999923706055
Selling 1 shares of HOG for 36.93000030517578
Buying 1 shares of HOG for 36.58000183105469
Selling 1 shares of HOG for 36.04999923706055
Buying 1 shares of HOG for 36.040000915527344
Selling 1 shares of HOG for 37.290000915527344
Buying 1 shares of HOG for 36.630001068115234
Selling 1 shares of HOG for 36.5099983215332
Buying 1 shares of HOG for 36.20000076293945
Selling 1 shares of HOG for 36.18000030517578
Buying 1 shares of HOG for 36.689998626708984
Selling 1 shares of HOG for 36.650001525878906
Buying 1 shares of HOG for 35.439998626708984
Selling 1 shares of HOG for 36.0
Buying 1 shares of HOG for 36.56999969482422
Selling 1 shares of HOG for 36.459999084472656
Buying 1 shares of HOG for 38.619998931884766
Selling 1 shares of HOG for 38.2599983215332
Buying 1 shares of HOG for 38.099998474121094
Selling 1 shares of HOG for 37.689998626708984
Buying 1 shares of HOG for 37.939998626708984
Selling 1 shares of HOG for 37.66999816894531
Buying 1 shares of HOG for 37.279998779296875
Selling 1 shares of HOG for 36.93000030517578
Buying 1 shares of HOG for 37.060001373291016
Selling 1 shares of HOG for 37.75
Buying 1 shares of HOG for 38.59000015258789
Selling 1 shares of HOG for 38.119998931884766
Buying 1 shares of HOG for 37.90999984741211
Selling 1 shares of HOG for 37.349998474121094
Buying 1 shares of HOG for 37.16999816894531
Selling 1 shares of HOG for 37.2400016784668
Buying 1 shares of HOG for 38.5099983215332
Selling 1 shares of HOG for 38.47999954223633
Buying 1 shares of HOG for 36.79999923706055
Selling 1 shares of HOG for 37.02000045776367
Buying 1 shares of HOG for 35.61000061035156
Selling 1 shares of HOG for 36.599998474121094
Buying 1 shares of HOG for 36.84000015258789
Selling 1 shares of HOG for 36.25
Buying 1 shares of HOG for 36.560001373291016
Selling 1 shares of HOG for 37.790000915527344
Buying 1 shares of HOG for 37.689998626708984
Selling 1 shares of HOG for 36.900001525878906
Buying 1 shares of HOG for 36.310001373291016
Selling 1 shares of HOG for 38.41999816894531
Buying 1 shares of HOG for 37.11000061035156
Selling 1 shares of HOG for 37.22999954223633
Buying 1 shares of HOG for 36.779998779296875
Selling 1 shares of HOG for 36.0
Buying 1 shares of HOG for 34.45000076293945
Selling 1 shares of HOG for 34.849998474121094
Buying 1 shares of HOG for 35.119998931884766
Selling 1 shares of HOG for 35.36000061035156
Buying 1 shares of HOG for 35.86000061035156
Selling 1 shares of HOG for 36.40999984741211
Buying 1 shares of HOG for 37.0099983215332
Selling 1 shares of HOG for 37.380001068115234
Buying 1 shares of HOG for 37.130001068115234
Selling 1 shares of HOG for 37.560001373291016
Buying 1 shares of HOG for 38.08000183105469
Selling 1 shares of HOG for 38.31999969482422
Buying 1 shares of HOG for 37.91999816894531
Selling 1 shares of HOG for 38.349998474121094

In [138]:
my_port.cashvalue

105.70999908447266

In [139]:
my_port.ledger()

   Ticker  Shares  Share Price  Dollar Amount Buy/Sell Transaction Datetime
0     HOG       1    36.889999      36.889999      buy           2021-09-08
1     HOG      -1    36.700001     -36.700001     sell           2021-09-09
2     HOG       1    37.080002      37.080002      buy           2021-09-10
3     HOG      -1    37.080002     -37.080002     sell           2021-09-13
4     HOG       1    37.389999      37.389999      buy           2021-09-14
..    ...     ...          ...            ...      ...                  ...
71    HOG      -1    37.560001     -37.560001     sell           2022-01-03
72    HOG       1    38.080002      38.080002      buy           2022-01-04
73    HOG      -1    38.320000     -38.320000     sell           2022-01-05
74    HOG       1    37.919998      37.919998      buy           2022-01-06
75    HOG      -1    38.349998     -38.349998     sell           2022-01-07

[76 rows x 6 columns]

---

### Paper trading with Alpaca
Only works when the market is open.

In [8]:
my_alpaca_port = dfin.AlpacaPortfolio()
my_back = dfin.Backtest()

In [9]:
prefill_rows = yf.download(tickers='HOG', period='100d', progress=False)

In [10]:
my_back.process_live_data(prefill_rows=prefill_rows,
                          my_alpaca_port=my_alpaca_port,
                          my_strategy=PaperBracketOrder.strategy,
                          ticker='HOG',
                          share_cnt=3,
                          profit_pct=1.05,
                          stop_pct=0.95,
                          limit_pct=0.94,
                          pkl_filename='lgbm_model.pkl')

Market is closed. No action will be taken.

In [11]:
# must call refresh() before getting status or positions
# refresh() reloads the value of all attributes with current values
my_alpaca_port.refresh()

my_alpaca_port.get_account_status()

       Cash    Equity Last Equity  Equity Change  Equity Change %
0  99999.11  99999.11    99999.11            0.0              0.0

In [12]:
my_alpaca_port.current_positions()

Empty DataFrame
Columns: [Ticker, Shares Held, Cost Basis, Current Price, Unrealized Gain/Loss, Unrealized Gain/Loss %]
Index: []

---

### Backtest SMA Crossover strategy

In [2]:
# Initialize backtest object
# Initialize portfolio object
my_back = dfin.Backtest()
my_port = dfin.Portfolio()

In [3]:
# Get cash value - can also set this
my_port.cashvalue

100000.0

In [133]:
# load data from Yahoo!
data = yf.download(tickers='AAPL', period='90d', progress=False)
data.to_csv('aapl_daily_data.csv')
historical_df = pd.read_csv('aapl_daily_data.csv', index_col='Date')

In [16]:
# Process the data from the historical dataframe
my_back.process_historical_data(historical_df,
                                my_port,
                                SMA_Crossover.strategy,
                                sma_short=10,
                                sma_long=15,
                                share_num=10,
                                ticker='AAPL')

2021-10-05 | Short: 142.05 | Long: 142.92 | Short < Long
2021-10-06 | Short: 141.51 | Long: 142.39 | Short < Long
2021-10-07 | Short: 141.22 | Long: 142.09 | Short < Long
2021-10-08 | Short: 140.92 | Long: 141.88 | Short < Long
2021-10-11 | Short: 140.72 | Long: 141.91 | Short < Long
2021-10-12 | Short: 140.65 | Long: 141.80 | Short < Long
2021-10-13 | Short: 140.37 | Long: 141.50 | Short < Long
2021-10-14 | Short: 140.39 | Long: 141.22 | Short < Long
2021-10-15 | Short: 140.83 | Long: 141.09 | Short < Long
2021-10-18 | Short: 141.32 | Long: 141.04 | Short > Long

Buying 10 shares of AAPL for 1431.6000366210938

2021-10-19 | Short: 142.04 | Long: 141.37 | Short > Long
2021-10-20 | Short: 143.02 | Long: 141.77 | Short > Long
2021-10-21 | Short: 143.53 | Long: 142.21 | Short > Long
2021-10-22 | Short: 144.14 | Long: 142.85 | Short > Long
2021-10-25 | Short: 144.72 | Long: 143.47 | Short > Long
2021-10-26 | Short: 145.52 | Long: 144.11 | Short > Long
2021-10-27 | Short: 146.45 | Long: 144.79 | Short > Long
2021-10-28 | Short: 147.27 | Long: 145.25 | Short > Long
2021-10-29 | Short: 147.56 | Long: 145.51 | Short > Long
2021-11-01 | Short: 148.02 | Long: 145.91 | Short > Long
2021-11-02 | Short: 148.23 | Long: 146.42 | Short > Long
2021-11-03 | Short: 148.40 | Long: 147.13 | Short > Long
2021-11-04 | Short: 148.68 | Long: 147.73 | Short > Long
2021-11-05 | Short: 148.82 | Long: 148.17 | Short > Long
2021-11-08 | Short: 149.08 | Long: 148.64 | Short > Long
2021-11-09 | Short: 149.18 | Long: 148.87 | Short > Long
2021-11-10 | Short: 149.12 | Long: 148.85 | Short > Long
2021-11-11 | Short: 148.91 | Long: 148.84 | Short > Long
2021-11-12 | Short: 149.02 | Long: 148.76 | Short > Long
2021-11-15 | Short: 149.18 | Long: 148.88 | Short > Long
2021-11-16 | Short: 149.25 | Long: 148.91 | Short > Long
2021-11-17 | Short: 149.37 | Long: 149.07 | Short > Long
2021-11-18 | Short: 149.61 | Long: 149.29 | Short > Long
2021-11-19 | Short: 150.26 | Long: 149.97 | Short > Long
2021-11-22 | Short: 151.34 | Long: 150.85 | Short > Long
2021-11-23 | Short: 152.24 | Long: 151.54 | Short > Long
2021-11-24 | Short: 153.42 | Long: 152.20 | Short > Long
2021-11-26 | Short: 154.29 | Long: 152.58 | Short > Long
2021-11-29 | Short: 155.42 | Long: 153.16 | Short > Long
2021-11-30 | Short: 156.47 | Long: 153.81 | Short > Long
2021-12-01 | Short: 157.99 | Long: 154.78 | Short > Long
2021-12-02 | Short: 158.67 | Long: 155.44 | Short > Long
2021-12-03 | Short: 159.33 | Long: 156.24 | Short > Long
2021-12-06 | Short: 160.11 | Long: 157.36 | Short > Long
2021-12-07 | Short: 160.84 | Long: 158.62 | Short > Long
2021-12-08 | Short: 162.01 | Long: 160.05 | Short > Long
2021-12-09 | Short: 163.44 | Long: 161.58 | Short > Long
2021-12-10 | Short: 165.27 | Long: 163.02 | Short > Long
2021-12-13 | Short: 166.94 | Long: 164.29 | Short > Long
2021-12-14 | Short: 168.17 | Long: 165.03 | Short > Long
2021-12-15 | Short: 168.95 | Long: 165.92 | Short > Long
2021-12-16 | Short: 170.24 | Long: 166.66 | Short > Long
2021-12-17 | Short: 171.24 | Long: 167.55 | Short > Long
2021-12-20 | Short: 171.56 | Long: 168.12 | Short > Long
2021-12-21 | Short: 171.64 | Long: 168.74 | Short > Long
2021-12-22 | Short: 171.78 | Long: 169.24 | Short > Long
2021-12-23 | Short: 171.92 | Long: 170.41 | Short > Long
2021-12-27 | Short: 172.16 | Long: 171.57 | Short > Long
2021-12-28 | Short: 172.46 | Long: 172.52 | Short < Long

Selling 10 shares of AAPL for 1785.2999877929688

2021-12-29 | Short: 173.05 | Long: 173.17 | Short < Long
2021-12-30 | Short: 173.63 | Long: 173.66 | Short < Long
2021-12-31 | Short: 174.28 | Long: 173.88 | Short > Long

Buying 10 shares of AAPL for 1772.5999450683594

2022-01-03 | Short: 175.08 | Long: 174.09 | Short > Long
2022-01-04 | Short: 176.25 | Long: 174.33 | Short > Long
2022-01-05 | Short: 176.80 | Long: 174.49 | Short > Long
2022-01-06 | Short: 176.75 | Long: 174.44 | Short > Long
2022-01-07 | Short: 176.32 | Long: 174.46 | Short > Long
2022-01-10 | Short: 175.43 | Long: 174.36 | Short > Long
2022-01-11 | Short: 174.66 | Long: 174.58 | Short > Long
2022-01-12 | Short: 174.33 | Long: 174.96 | Short < Long

Selling 10 shares of AAPL for 1748.2000732421875

2022-01-13 | Short: 173.70 | Long: 174.94 | Short < Long
2022-01-14 | Short: 173.08 | Long: 174.66 | Short < Long
2022-01-18 | Short: 172.25 | Long: 174.15 | Short < Long
2022-01-19 | Short: 170.94 | Long: 173.31 | Short < Long
2022-01-20 | Short: 169.89 | Long: 172.38 | Short < Long
2022-01-21 | Short: 168.96 | Long: 171.33 | Short < Long

In [17]:
my_port.cashvalue

100329.3000793457

In [18]:
my_port.ledger()

  Ticker  Shares  Share Price  Dollar Amount Buy/Sell Transaction Datetime
0   AAPL      10   143.160004    1431.600037      buy           2021-10-18
1   AAPL     -10   178.529999   -1785.299988     sell           2021-12-28
2   AAPL      10   177.259995    1772.599945      buy           2021-12-31
3   AAPL     -10   174.820007   -1748.200073     sell           2022-01-12

### Demonstrate other functions of the Porfolio class

In [19]:
my_port.current_positions()

Empty DataFrame
Columns: [Ticker, Shares Held, Current Price, Current Value of Shares]
Index: []

In [20]:
# Buy one share of GME for $100 - what a great price!
my_port.buy_stock('GME', 3, 100, '2021-01-01 00:00:00')

In [21]:
my_port.save_transactions('my_port.csv')

In [22]:
my_port.load_transactions('my_port.csv')
my_port.current_positions()

   Ticker  Shares Held Current Price  Current Value of Shares
1     GME            3         106.0                    318.0
2  Totals            3           N/A                    318.0

***

## EMA BACKTEST

In [178]:
# Initialize backtest object
# Initialize portfolio object
my_back = dfin.Backtest()
my_port = dfin.Portfolio()

In [179]:
# Get cash value - can also set this
my_port.cashvalue

100000.0

In [180]:
# load data from Yahoo!
# Note, the first 500 days are just used to converge the EMAs
# Only the days after 500 are part of the backtest
data = yf.download(tickers='AAPL', period='700d', progress=False)

# Process the data from the historical dataframe
my_back.process_historical_data(data,
                                my_port,
                                BT_EMA_Crossover.strategy,
                                ema_short=15,
                                ema_long=55,
                                share_num=10,
                                ticker='AAPL',
                                close_positions_eob=True)

2021-04-19 00:00:00 | Short: 128.63 | Long: 125.63 | Short > Long

Buying 10 shares of AAPL for 1333.3999633789062

2021-04-20 00:00:00 | Short: 129.02 | Long: 125.85 | Short > Long
2021-04-21 00:00:00 | Short: 129.31 | Long: 126.05 | Short > Long
2021-04-22 00:00:00 | Short: 129.57 | Long: 126.24 | Short > Long
2021-04-23 00:00:00 | Short: 129.90 | Long: 126.45 | Short > Long
2021-04-26 00:00:00 | Short: 130.35 | Long: 126.70 | Short > Long
2021-04-27 00:00:00 | Short: 130.82 | Long: 126.97 | Short > Long
2021-04-28 00:00:00 | Short: 131.10 | Long: 127.19 | Short > Long
2021-04-29 00:00:00 | Short: 131.27 | Long: 127.37 | Short > Long
2021-04-30 00:00:00 | Short: 131.25 | Long: 127.51 | Short > Long
2021-05-03 00:00:00 | Short: 131.32 | Long: 127.66 | Short > Long
2021-05-04 00:00:00 | Short: 130.74 | Long: 127.63 | Short > Long
2021-05-05 00:00:00 | Short: 130.40 | Long: 127.64 | Short > Long
2021-05-06 00:00:00 | Short: 129.99 | Long: 127.62 | Short > Long
2021-05-07 00:00:00 | Short: 129.92 | Long: 127.69 | Short > Long
2021-05-10 00:00:00 | Short: 129.54 | Long: 127.66 | Short > Long
2021-05-11 00:00:00 | Short: 128.69 | Long: 127.48 | Short > Long
2021-05-12 00:00:00 | Short: 127.88 | Long: 127.29 | Short > Long
2021-05-13 00:00:00 | Short: 127.43 | Long: 127.19 | Short > Long
2021-05-14 00:00:00 | Short: 127.23 | Long: 127.14 | Short > Long
2021-05-17 00:00:00 | Short: 126.98 | Long: 127.07 | Short < Long

Selling 10 shares of AAPL for 1251.6999816894531

2021-05-18 00:00:00 | Short: 126.70 | Long: 126.99 | Short < Long
2021-05-19 00:00:00 | Short: 126.22 | Long: 126.84 | Short < Long
2021-05-20 00:00:00 | Short: 126.08 | Long: 126.78 | Short < Long
2021-05-21 00:00:00 | Short: 125.97 | Long: 126.72 | Short < Long
2021-05-24 00:00:00 | Short: 125.97 | Long: 126.69 | Short < Long
2021-05-25 00:00:00 | Short: 126.01 | Long: 126.68 | Short < Long
2021-05-26 00:00:00 | Short: 126.06 | Long: 126.67 | Short < Long
2021-05-27 00:00:00 | Short: 125.94 | Long: 126.61 | Short < Long
2021-05-28 00:00:00 | Short: 125.77 | Long: 126.54 | Short < Long
2021-06-01 00:00:00 | Short: 125.54 | Long: 126.45 | Short < Long
2021-06-02 00:00:00 | Short: 125.35 | Long: 126.36 | Short < Long
2021-06-03 00:00:00 | Short: 125.07 | Long: 126.25 | Short < Long
2021-06-04 00:00:00 | Short: 124.92 | Long: 126.16 | Short < Long
2021-06-07 00:00:00 | Short: 124.91 | Long: 126.11 | Short < Long
2021-06-08 00:00:00 | Short: 125.07 | Long: 126.12 | Short < Long
2021-06-09 00:00:00 | Short: 125.25 | Long: 126.13 | Short < Long
2021-06-10 00:00:00 | Short: 125.34 | Long: 126.12 | Short < Long
2021-06-11 00:00:00 | Short: 125.43 | Long: 126.12 | Short < Long
2021-06-14 00:00:00 | Short: 125.64 | Long: 126.16 | Short < Long
2021-06-15 00:00:00 | Short: 126.11 | Long: 126.27 | Short < Long
2021-06-16 00:00:00 | Short: 126.40 | Long: 126.35 | Short > Long

Buying 10 shares of AAPL for 1284.6000671386719

2021-06-17 00:00:00 | Short: 126.81 | Long: 126.47 | Short > Long
2021-06-18 00:00:00 | Short: 127.24 | Long: 126.60 | Short > Long
2021-06-21 00:00:00 | Short: 127.48 | Long: 126.70 | Short > Long
2021-06-22 00:00:00 | Short: 128.00 | Long: 126.87 | Short > Long
2021-06-23 00:00:00 | Short: 128.65 | Long: 127.10 | Short > Long
2021-06-24 00:00:00 | Short: 129.19 | Long: 127.31 | Short > Long
2021-06-25 00:00:00 | Short: 129.64 | Long: 127.50 | Short > Long
2021-06-28 00:00:00 | Short: 130.10 | Long: 127.71 | Short > Long
2021-06-29 00:00:00 | Short: 130.64 | Long: 127.95 | Short > Long
2021-06-30 00:00:00 | Short: 131.29 | Long: 128.23 | Short > Long
2021-07-01 00:00:00 | Short: 131.85 | Long: 128.50 | Short > Long
2021-07-02 00:00:00 | Short: 132.59 | Long: 128.83 | Short > Long
2021-07-06 00:00:00 | Short: 133.52 | Long: 129.23 | Short > Long
2021-07-07 00:00:00 | Short: 134.66 | Long: 129.71 | Short > Long
2021-07-08 00:00:00 | Short: 135.41 | Long: 130.10 | Short > Long
2021-07-09 00:00:00 | Short: 136.32 | Long: 130.55 | Short > Long
2021-07-12 00:00:00 | Short: 137.28 | Long: 131.03 | Short > Long
2021-07-13 00:00:00 | Short: 138.07 | Long: 131.48 | Short > Long
2021-07-14 00:00:00 | Short: 139.27 | Long: 132.06 | Short > Long
2021-07-15 00:00:00 | Short: 140.25 | Long: 132.60 | Short > Long
2021-07-16 00:00:00 | Short: 140.95 | Long: 133.07 | Short > Long
2021-07-19 00:00:00 | Short: 141.04 | Long: 133.38 | Short > Long
2021-07-20 00:00:00 | Short: 141.28 | Long: 133.72 | Short > Long
2021-07-21 00:00:00 | Short: 141.70 | Long: 134.11 | Short > Long
2021-07-22 00:00:00 | Short: 142.22 | Long: 134.53 | Short > Long
2021-07-23 00:00:00 | Short: 142.80 | Long: 134.97 | Short > Long
2021-07-26 00:00:00 | Short: 143.42 | Long: 135.43 | Short > Long
2021-07-27 00:00:00 | Short: 143.68 | Long: 135.79 | Short > Long
2021-07-28 00:00:00 | Short: 143.54 | Long: 136.03 | Short > Long
2021-07-29 00:00:00 | Short: 143.67 | Long: 136.33 | Short > Long
2021-07-30 00:00:00 | Short: 143.72 | Long: 136.61 | Short > Long
2021-08-02 00:00:00 | Short: 143.92 | Long: 136.92 | Short > Long
2021-08-03 00:00:00 | Short: 144.07 | Long: 137.22 | Short > Long
2021-08-04 00:00:00 | Short: 144.35 | Long: 137.54 | Short > Long
2021-08-05 00:00:00 | Short: 144.58 | Long: 137.85 | Short > Long
2021-08-06 00:00:00 | Short: 144.71 | Long: 138.13 | Short > Long
2021-08-09 00:00:00 | Short: 144.81 | Long: 138.39 | Short > Long
2021-08-10 00:00:00 | Short: 144.87 | Long: 138.64 | Short > Long
2021-08-11 00:00:00 | Short: 144.95 | Long: 138.88 | Short > Long
2021-08-12 00:00:00 | Short: 145.06 | Long: 139.13 | Short > Long
2021-08-13 00:00:00 | Short: 145.47 | Long: 139.46 | Short > Long
2021-08-16 00:00:00 | Short: 145.59 | Long: 139.71 | Short > Long
2021-08-17 00:00:00 | Short: 146.03 | Long: 140.04 | Short > Long
2021-08-18 00:00:00 | Short: 146.04 | Long: 140.26 | Short > Long
2021-08-19 00:00:00 | Short: 145.85 | Long: 140.41 | Short > Long
2021-08-20 00:00:00 | Short: 145.97 | Long: 140.64 | Short > Long
2021-08-23 00:00:00 | Short: 146.21 | Long: 140.90 | Short > Long
2021-08-24 00:00:00 | Short: 146.57 | Long: 141.19 | Short > Long
2021-08-25 00:00:00 | Short: 146.73 | Long: 141.43 | Short > Long
2021-08-26 00:00:00 | Short: 146.83 | Long: 141.65 | Short > Long
2021-08-27 00:00:00 | Short: 146.83 | Long: 141.83 | Short > Long
2021-08-30 00:00:00 | Short: 147.05 | Long: 142.07 | Short > Long
2021-08-31 00:00:00 | Short: 147.58 | Long: 142.40 | Short > Long
2021-09-01 00:00:00 | Short: 148.17 | Long: 142.76 | Short > Long
2021-09-02 00:00:00 | Short: 148.70 | Long: 143.10 | Short > Long
2021-09-03 00:00:00 | Short: 149.25 | Long: 143.46 | Short > Long
2021-09-07 00:00:00 | Short: 149.89 | Long: 143.85 | Short > Long
2021-09-08 00:00:00 | Short: 150.40 | Long: 144.21 | Short > Long
2021-09-09 00:00:00 | Short: 150.85 | Long: 144.56 | Short > Long
2021-09-10 00:00:00 | Short: 150.58 | Long: 144.71 | Short > Long
2021-09-13 00:00:00 | Short: 150.35 | Long: 144.85 | Short > Long
2021-09-14 00:00:00 | Short: 149.92 | Long: 144.92 | Short > Long
2021-09-15 00:00:00 | Short: 149.48 | Long: 144.98 | Short > Long
2021-09-16 00:00:00 | Short: 149.19 | Long: 145.06 | Short > Long
2021-09-17 00:00:00 | Short: 148.77 | Long: 145.08 | Short > Long
2021-09-20 00:00:00 | Short: 147.83 | Long: 144.95 | Short > Long
2021-09-21 00:00:00 | Short: 147.20 | Long: 144.87 | Short > Long
2021-09-22 00:00:00 | Short: 146.76 | Long: 144.83 | Short > Long
2021-09-23 00:00:00 | Short: 146.62 | Long: 144.86 | Short > Long
2021-09-24 00:00:00 | Short: 146.49 | Long: 144.88 | Short > Long
2021-09-27 00:00:00 | Short: 146.15 | Long: 144.84 | Short > Long
2021-09-28 00:00:00 | Short: 145.60 | Long: 144.73 | Short > Long
2021-09-29 00:00:00 | Short: 145.15 | Long: 144.63 | Short > Long
2021-09-30 00:00:00 | Short: 144.67 | Long: 144.51 | Short > Long
2021-10-01 00:00:00 | Short: 143.97 | Long: 144.32 | Short < Long

Selling 10 shares of AAPL for 1391.1000061035156

2021-10-04 00:00:00 | Short: 143.26 | Long: 144.10 | Short < Long
2021-10-05 00:00:00 | Short: 142.77 | Long: 143.94 | Short < Long
2021-10-06 00:00:00 | Short: 142.22 | Long: 143.74 | Short < Long
2021-10-07 00:00:00 | Short: 142.28 | Long: 143.70 | Short < Long
2021-10-08 00:00:00 | Short: 142.32 | Long: 143.66 | Short < Long
2021-10-11 00:00:00 | Short: 142.25 | Long: 143.59 | Short < Long
2021-10-12 00:00:00 | Short: 142.10 | Long: 143.50 | Short < Long
2021-10-13 00:00:00 | Short: 141.74 | Long: 143.35 | Short < Long
2021-10-14 00:00:00 | Short: 141.71 | Long: 143.28 | Short < Long
2021-10-15 00:00:00 | Short: 141.94 | Long: 143.29 | Short < Long
2021-10-18 00:00:00 | Short: 142.09 | Long: 143.29 | Short < Long
2021-10-19 00:00:00 | Short: 142.65 | Long: 143.40 | Short < Long
2021-10-20 00:00:00 | Short: 143.33 | Long: 143.57 | Short < Long
2021-10-21 00:00:00 | Short: 143.90 | Long: 143.72 | Short > Long

Buying 10 shares of AAPL for 1478.699951171875

2021-10-22 00:00:00 | Short: 144.49 | Long: 143.90 | Short > Long
2021-10-25 00:00:00 | Short: 144.88 | Long: 144.03 | Short > Long
2021-10-26 00:00:00 | Short: 145.40 | Long: 144.21 | Short > Long
2021-10-27 00:00:00 | Short: 145.78 | Long: 144.36 | Short > Long
2021-10-28 00:00:00 | Short: 146.28 | Long: 144.56 | Short > Long
2021-10-29 00:00:00 | Short: 146.29 | Long: 144.62 | Short > Long
2021-11-01 00:00:00 | Short: 146.48 | Long: 144.73 | Short > Long
2021-11-02 00:00:00 | Short: 146.75 | Long: 144.87 | Short > Long
2021-11-03 00:00:00 | Short: 147.14 | Long: 145.05 | Short > Long
2021-11-04 00:00:00 | Short: 147.57 | Long: 145.25 | Short > Long
2021-11-05 00:00:00 | Short: 147.88 | Long: 145.42 | Short > Long
2021-11-08 00:00:00 | Short: 148.17 | Long: 145.59 | Short > Long
2021-11-09 00:00:00 | Short: 148.41 | Long: 145.75 | Short > Long
2021-11-10 00:00:00 | Short: 148.34 | Long: 145.83 | Short > Long
2021-11-11 00:00:00 | Short: 148.25 | Long: 145.89 | Short > Long
2021-11-12 00:00:00 | Short: 148.16 | Long: 145.95 | Short > Long
2021-11-15 00:00:00 | Short: 148.32 | Long: 146.07 | Short > Long
2021-11-16 00:00:00 | Short: 148.44 | Long: 146.19 | Short > Long
2021-11-17 00:00:00 | Short: 148.76 | Long: 146.36 | Short > Long
2021-11-18 00:00:00 | Short: 149.30 | Long: 146.60 | Short > Long
2021-11-19 00:00:00 | Short: 150.20 | Long: 146.96 | Short > Long
2021-11-22 00:00:00 | Short: 151.55 | Long: 147.46 | Short > Long
2021-11-23 00:00:00 | Short: 152.49 | Long: 147.87 | Short > Long
2021-11-24 00:00:00 | Short: 153.38 | Long: 148.29 | Short > Long
2021-11-26 00:00:00 | Short: 153.76 | Long: 148.58 | Short > Long
2021-11-29 00:00:00 | Short: 154.39 | Long: 148.94 | Short > Long
2021-11-30 00:00:00 | Short: 155.08 | Long: 149.34 | Short > Long
2021-12-01 00:00:00 | Short: 156.26 | Long: 149.88 | Short > Long
2021-12-02 00:00:00 | Short: 156.45 | Long: 150.16 | Short > Long
2021-12-03 00:00:00 | Short: 156.86 | Long: 150.50 | Short > Long
2021-12-06 00:00:00 | Short: 157.79 | Long: 151.00 | Short > Long
2021-12-07 00:00:00 | Short: 159.11 | Long: 151.61 | Short > Long
2021-12-08 00:00:00 | Short: 160.56 | Long: 152.30 | Short > Long
2021-12-09 00:00:00 | Short: 162.23 | Long: 153.07 | Short > Long
2021-12-10 00:00:00 | Short: 163.78 | Long: 153.84 | Short > Long
2021-12-13 00:00:00 | Short: 165.25 | Long: 154.62 | Short > Long
2021-12-14 00:00:00 | Short: 166.12 | Long: 155.24 | Short > Long
2021-12-15 00:00:00 | Short: 166.90 | Long: 155.85 | Short > Long
2021-12-16 00:00:00 | Short: 167.38 | Long: 156.39 | Short > Long
2021-12-17 00:00:00 | Short: 167.67 | Long: 156.86 | Short > Long
2021-12-20 00:00:00 | Short: 167.64 | Long: 157.24 | Short > Long
2021-12-21 00:00:00 | Short: 167.83 | Long: 157.66 | Short > Long
2021-12-22 00:00:00 | Short: 168.37 | Long: 158.18 | Short > Long
2021-12-23 00:00:00 | Short: 169.23 | Long: 158.79 | Short > Long
2021-12-27 00:00:00 | Short: 170.21 | Long: 159.44 | Short > Long
2021-12-28 00:00:00 | Short: 171.25 | Long: 160.13 | Short > Long
2021-12-29 00:00:00 | Short: 172.11 | Long: 160.77 | Short > Long
2021-12-30 00:00:00 | Short: 172.86 | Long: 161.39 | Short > Long
2021-12-31 00:00:00 | Short: 173.41 | Long: 161.95 | Short > Long
2022-01-03 00:00:00 | Short: 173.95 | Long: 162.52 | Short > Long
2022-01-04 00:00:00 | Short: 174.59 | Long: 163.11 | Short > Long
2022-01-05 00:00:00 | Short: 174.60 | Long: 163.52 | Short > Long
2022-01-06 00:00:00 | Short: 174.23 | Long: 163.81 | Short > Long
2022-01-07 00:00:00 | Short: 173.83 | Long: 164.07 | Short > Long
2022-01-10 00:00:00 | Short: 173.12 | Long: 164.22 | Short > Long
2022-01-11 00:00:00 | Short: 172.83 | Long: 164.45 | Short > Long
2022-01-12 00:00:00 | Short: 173.08 | Long: 164.82 | Short > Long
2022-01-13 00:00:00 | Short: 172.92 | Long: 165.07 | Short > Long
2022-01-14 00:00:00 | Short: 172.69 | Long: 165.29 | Short > Long
2022-01-18 00:00:00 | Short: 172.28 | Long: 165.43 | Short > Long
2022-01-19 00:00:00 | Short: 171.49 | Long: 165.45 | Short > Long
2022-01-20 00:00:00 | Short: 170.58 | Long: 165.41 | Short > Long
2022-01-21 00:00:00 | Short: 169.54 | Long: 165.30 | Short > Long
2022-01-24 00:00:00 | Short: 167.69 | Long: 164.92 | Short > Long
2022-01-25 00:00:00 | Short: 166.35 | Long: 164.63 | Short > Long
2022-01-26 00:00:00 | Short: 165.29 | Long: 164.39 | Short > Long
2022-01-27 00:00:00 | Short: 164.41 | Long: 164.17 | Short > Long
2022-01-28 00:00:00 | Short: 164.21 | Long: 164.12 | Short > Long
2022-01-31 00:00:00 | Short: 164.87 | Long: 164.32 | Short > Long
2022-02-01 00:00:00 | Short: 165.80 | Long: 164.60 | Short > Long
Closing position.

Selling 10 shares of AAPL for 1723.2000732421875

In [181]:
my_port.cashvalue

100269.3000793457

In [182]:
my_port.ledger()

  Ticker  Shares  Share Price  Dollar Amount Buy/Sell Transaction Datetime
0   AAPL      10   133.339996    1333.399963      buy           2021-04-19
1   AAPL     -10   125.169998   -1251.699982     sell           2021-05-17
2   AAPL      10   128.460007    1284.600067      buy           2021-06-16
3   AAPL     -10   139.110001   -1391.100006     sell           2021-10-01
4   AAPL      10   147.869995    1478.699951      buy           2021-10-21
5   AAPL     -10   172.320007   -1723.200073     sell           2022-02-01

In [183]:
my_port.current_positions()

Empty DataFrame
Columns: [Ticker, Shares Held, Current Price, Current Value of Shares]
Index: []

***